---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Lib Martinito'>
  <div class='border-b border-neutral-600'>
    <div class='my-4 text-neutral-600'>libmartinito</div>
  </div>

  <section class='my-4'>
    <p>Hi, there.</p>
    <p>I previously made things structurally sound for oil and gas people.</p>

    <p>
      Now I help <a
        class='text-neutral-200 underline decoration-2 underline-offset-2'
        href='https://codecrafters.io'
        target='_blank'>CodeCrafters</a
      > build.
    </p>
  </section>

  <section class='my-4'>
    <h2 class='pb-1 font-bold text-neutral-200'>Project</h2>
    <p>Right now, I'm trying to make a small app for bullet journaling</p>
  </section>

  <section class='my-4'>
    <h2 class='pb-1 font-bold text-neutral-200'>Timeline</h2>

    <ul>
      <li>
        <span class='pr-4 font-semibold tabular-nums text-neutral-200'
          >2017</span
        >finished a civil eng'g degree
      </li>

      <li>
        <span class='pr-4 font-semibold tabular-nums text-neutral-200'
          >2018</span
        >helped design things like these
      </li>

      <li>
        <span class='pr-4 font-semibold tabular-nums text-neutral-200'
          >2021</span
        >finished a diploma in info. tech
      </li>

      <li>
        <span class='pr-4 font-semibold tabular-nums text-neutral-200'
          >2022</span
        >helped cambridge build things on the web
      </li>

      <li>
        <span class='pr-4 font-semibold tabular-nums text-neutral-200'
          >2023</span
        >helping out a startup build
      </li>
    </ul>
  </section>

  <section class='my-4'>
    <h2 class='pb-1 font-bold text-neutral-200'>Tech stack</h2>

    <ul>
      <li>
        <div class='text-neutral-600'>CodeCrafters</div>
        <div>Ember.js, Ruby on Rails, TypeScript, PostgreSQL, Heroku</div>
      </li>

      <li>
        <div class='text-neutral-600'>
          Cambridge University Press & Assessment
        </div>
        <div>Vue.js, Nuxt, AdonisJS, TypeScript, MySQL, AWS</div>
      </li>
    </ul>
  </section>

  <section class='my-4'>
    <h2 class='pb-1 font-bold text-neutral-200'>Get in touch</h2>

    <ul class='text-neutral-200'>
      <li>
        <span class='font-semibold'>email</span>: <a
          class='underline decoration-2 underline-offset-2'
          href='mailto:lib.martinito@pm.me'>lib.martinito@pm.me</a
        >
      </li>

      <li>
        <span class='font-semibold'>linkedin</span>: <a
          class='underline decoration-2 underline-offset-2'
          href='https://linkedin.com/in/lib-martinito'
          target='_blank'>lib-martinito</a
        >
      </li>
    </ul>
  </section>
</BaseLayout>
