---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Lib Martinito'>
  <h1>Hi, there</h1>
  <div>I'm Lib</div>
  <p>
    I previously made things structurally sound for oil and gas people.<br />
     Now I help <a href='https://codecrafters.io' target='_blank'
      >CodeCrafters</a
    > build.
  </p>
  <h2>Timeline</h2>
  <ul>
    <li><span>1996</span> spawned</li>
    <li><span>2017</span> finished a civil eng'g degree</li>
    <li><span>2018</span> helped design things like these</li>
    <li><span>2021</span> finished a diploma in i.t.</li>
    <li><span>2022</span> helped cambridge build things on the web</li>
    <li><span>2023</span> helping out a startup build</li>
  </ul>
  <h2>Get in touch</h2>
  <ul>
    <li>
      <span>email:</span><a href='mailto:lib.martinito@pm.me'
        >lib.martinito@pm.me</a>
    </li>
    <li>
      <span>linkedin:</span><a
        href='https://linkedin.com/in/lib-martinito'
        target='_blank'>lib-martinito</a>
    </li>
  </ul>
</BaseLayout>
