---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Lib Martinito'>
    <div class="border-b">
        <div class="my-4">libmartinito</div>
    </div>
    <section class='my-2'>
        <p>Hi, there.</p>
      <p>I previously made things structurally sound for oil and gas people.</p>
      <p>
        Now I help <a
          class='underline decoration-2 underline-offset-2'
          href='https://codecrafters.io'
          target='_blank'>CodeCrafters</a
        > build.
      </p>
    </section>
    <section class='my-2'>
      <h2 class='text-lg font-bold'>Timeline</h2>
      <ul>
        <li>
          <span class='pr-4 font-semibold tabular-nums'>2017</span>finished a
          civil eng'g degree
        </li>
        <li>
          <span class='pr-4 font-semibold tabular-nums'>2018</span>helped design
          things like these
        </li>
        <li>
          <span class='pr-4 font-semibold tabular-nums'>2021</span>finished a
          diploma in info. tech
        </li>
        <li>
          <span class='pr-4 font-semibold tabular-nums'>2022</span>helped
          cambridge build things on the web
        </li>
        <li>
          <span class='pr-4 font-semibold tabular-nums'>2023</span>helping out a
          startup build
        </li>
      </ul>
    </section>
    <section class='my-2'>
      <h2 class='text-lg font-bold'>Get in touch</h2>
      <ul>
        <li>
          <span class='font-semibold'>email</span>: <a
            class='underline decoration-2 underline-offset-2'
            href='mailto:lib.martinito@pm.me'>lib.martinito@pm.me</a
          >
        </li>
        <li>
          <span class='font-semibold'>linkedin</span>: <a
            class='underline decoration-2 underline-offset-2'
            href='https://linkedin.com/in/lib-martinito'
            target='_blank'>lib-martinito</a
          >
        </li>
      </ul>
    </section>
</BaseLayout>
