---
import { Icon } from 'astro-icon'

const currentPath = Astro.url.pathname;
---

<div>
    <ul class="flex justify-end gap-4 p-4">
        <li><a class={currentPath === "/" ? "underline underline-offset-2 decoration-2" : ""} href="/">about</a></li>
        <li><a class={currentPath === "/projets" ? "underline underline-offset-2 decoration-2" : ""} href="/projects">projects</a></li>
        <li><a class="flex items-center" href="https://github.com/libmartinito/personal-site" target="_blank"><Icon class="h-5 w-5" name="mdi:github" /> source</a></li>
    </ul>
</div>
